<!--INICIO CARRUSEL-->
<mdb-carousel class="carousel slide mb-5 carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
        <img class="d-block w-100" src="/assets/img/contruyendo.jpg">
        <div class="carousel-caption">
            <h3 class="h3-responsive ">14 años de experiencia</h3>
            <div class="borde-abajo"></div>
            <p class="parr">Los mejores ingeníeros del país</p>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="/assets/img/estructura.jpg">
        <div class="carousel-caption">
            <h3 class="h3-responsive ">Ingeniería</h3>
            <div class="borde-abajo"></div>
            <p class="parr">Dieseño Arquitectónico y Estructural</p>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="/assets/img/edificios2.jpg">
        <div class="carousel-caption">
            <h3 class="h3-responsive ">Servicios</h3>
            <div class="borde-abajo"></div>
            <p class="parr">Edificaciones Corporativas y Residenciales</p>
        </div>
    </mdb-carousel-item>
</mdb-carousel>
<!--FIN CARRUSEL-->

<!--INICIO TEXTO-->
<section class="container-fluid mt-5">
    <div class="texto-principal container">
        <div>
            <h2 class="mayor">Calidad en <br>nuestro Trabajo </h2>
            <p class="menor">Nuestra política de calidad se manifiesta mediante nuestro firme compromiso con los clientes de satisfacer plenamente sus requerimientos y expectativas. <br>
            </p>
        </div>
        <div></div>
    </div>
    <div class="texto-secundario container">
        <div class="secundario1">
            <h2 class="mayor">SEGURIDAD </h2>
            <p class="menor">
            </p>
            <p class="menor1">
                Somos la mejor opción en diseño de estructuras
            </p>
            <p class="menor">
                Hacerte sentir seguro con la mayor innovacion.
            </p>
        </div>
        <div class="secundario2">

            <p class="menor">En nuestro equipo garantizamos impulsar una cultura de calidad basada en los principios de honestidad, liderazgo y desarrollo del recurso humano, solidaridad, compromiso de mejora y seguridad en nuestras operaciones. Es por ello que nuestro
                personal esta capacitado y dotados con la mayor experiencia en el área de ingeniería.
            </p>
        </div>
    </div>
</section>

<div class="seccion-2 ">
    <div class="franja">
        <h3 class="text-center">Nuestros clientes</h3>
        <div class="clientes">
            <div class="cliente">
                <img src="/assets/img/manada.png" alt="ingenieria civil">
            </div>
            <div class="cliente">
                <img src="/assets/img/mdahuar.png" alt="ingenieria civil">
            </div>
            <div class="cliente">
                <img src="/assets/img/gpic.png" alt="ingenieria civil">
            </div>
            <div class="cliente">
                <img src="/assets/img/2m.jpg" alt="ingenieria civil">
            </div>

        </div>
    </div>

</div>
<!--FIN TEXTO-->